.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  width: 75.75rem;
}

.filter_by_name_container {
  align-items: center;
  display: flex;
  position: relative;
}

.filter_by_name {
  background-color: transparent;
  border: 1px solid var(--soft-text-color);
  border-radius: 0.3rem;
  color: var(--strong-text-color);
  font-size: 1rem;
  height: 2.62rem;
  text-align: center;
  width: 42rem;
}

.filter_by_name:focus-within {
  border: 1px solid var(--radiant);
  outline: 1px var(--radiant) solid;
}

.searchIcon {
  position: absolute;
  right: 0.8rem;
}

.main_filter_container {
  border: none;
  display: flex;
  width: 100%;
}

.numeric_filter_container {
  align-items: center;
  border: none;
  color: var(--soft-text-color);
  display: flex;
  gap: 2rem;
  padding: 0.1rem 2.5rem;
  width: 100%;
}

.options_container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 700;
  gap: 0.2rem;
}

.selects {
  background-color: transparent;
  border: none;
  color: var(--strong-text-color);
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.selects:hover {
  color: var(--radiant);
}

.selects option {
  background-color: var(--tableHead-bg);
  border: var(--tableHead-bg);
  color: var(--radiant);
  font-size: 1rem;
  outline: none;
}

.filter_value {
  background: transparent;
  border: 1px solid var(--soft-text-color);
  border-radius: 0.5rem;
  color: var(--strong-text-color);
  font-size: 0.87rem;
  height: 2.62rem;
  padding-left: 0.8rem;
  width: 3.68rem;
}

.filter_value:focus-within {
  border: 1px solid var(--radiant);
  outline: 1px var(--radiant) solid;
}

.filter_button {
  background-color: transparent;
  border: 1px solid var(--radiant);
  border-radius: 0.8rem;
  color: var(--radiant);
  height: 5.31rem;
  text-align: center;
  transition: all 350ms ease-in-out;
  width: 5.68rem;
}

.filter_button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.active_filters_container {
  align-self: flex-start;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.filter {
  align-items: center;
  background-color: var(--tableHead-bg);
  border-radius: 0.2rem;
  color: var(--strong-text-color);
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  justify-content: center;
  white-space: nowrap;
  padding: 0.4rem;
}

.sort_values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: none;
  accent-color:var(--radiant);
}


.clear_filter_button {
  background-color: transparent;
  border: none;
}

.clear_filter_icon {
  color: var(--strong-text-color);
  transition: all 250ms ease-in-out;
}

.clear_filter_icon:hover {
  color: rgb(224, 43, 43);
}

.remove_clear_all_button {
  background-color: transparent;
  align-self: flex-start;
  border: 1px solid var(--radiant);
  border-radius: 0.2rem;
  color: var(--radiant);
  padding: 0.5rem;
  text-align: center;
  transition: all 350ms ease-in-out;
  margin-left: 1rem;
}
